* {
	box-sizing: border-box;
	text-align: center;
	justify-content: right;
}

#container {
	width: 60vmin; /* for the different screens */
	height: auto;
	margin: auto;
	border: 1px solid #aaa;
	border-radius: 2% 2% 0 0;
	transform: translateY(50%); /* center vertically */
}

#divOutput {
	height: 5em;
	border: 0.5em solid #ddd;
	border-radius: 2%;
}

#divButtons {
	border: 0.5em solid #ddd;
}

.divRows {
	background-color: #ddd;
	height: 2em;
	display: flex;
	flex-flow: row wrap;
}

.buttons {
	background-color: #ddd;
	width: calc(100% / 6);
	border: 1px solid #aaa;
	border-radius: 12%;
}

.buttons:active {
	transform: scale(0.9);
	box-shadow: 3px 2px 22px 1px #aaa inset;
}

.operators {
	background-color: #333;
	color: #fff;
}

#undo {
	background-color: pink;
}

#clear {
	background-color: red;
	color: #fff;
}

#equals {
	background-color: #369;
	color: #fff;
	width: calc(100% / 3);
}
