* {
	box-sizing: border-box;
	text-align: center;
	justify-content: right;
}

#container {
	width: 50vmin;
	height: auto;
	margin: auto;
	border: 1px solid #aaa;
	border-radius: 2% 2% 0 0;
}

#divOutput {
	height: 5em;
	border: 0.5em solid #ddd;
	border-radius: 2%;
}

#divButtons {
	border: 0.5em solid #ddd;
}

.divRows {
	background-color: #ddd;
	height: 2em;
	display: flex;
	flex-flow: row wrap;
}

.buttons {
	background-color: #ddd;
	width: calc(100% / 6);
	border: 1px solid #aaa;
	border-radius: 12%;
}

.operators {
	background-color: #333;
	color: #fff;
}

#divUndoClear {
	
}

#undo {
	background-color: pink;
	justify-content: right;
}

#clear {
	background-color: red;
	color: #fff;
	justify-content: right;
}

#equals {
	background-color: #0000cd;
	color: #fff;
}
